@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

//! mes variable couleur
$red : #cd1212 ;
$darken : #201f24 ;
$gray : #9f9592 ;
$back-grey : #eeeeee;
$texto-grie : #42525f ;
$hover-red : #cd12123a ;
$xfooter : #201f24 ;
//! custom couleur nom pour moi 
$custom-colors : (
    "rouge" : $red ,
    "noir" : $darken ,
    "grie" : $gray ,
    "p-grie" : $texto-grie ,
);

//! merg
$theme-colors : map-merge($theme-colors , $custom-colors);
